---
layout: default
title: Blog
---

<div style="background-image: url('/assets/imgs/bg.jpg');">
<section class="section bg-grad">
  <div class="container">
  {% for post in site.posts %}
    
    <div class="box has-background-white-ter transparent">
      <article class="media">
        {% if page.media %}
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="{{ page.media | absolute_url }}" alt="{{ page.title }}">
          </figure>
        </div>
        {% endif %}
        <div class="media-content">
          <div class="content">
            <p>
              <strong><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></strong> <small>{{ post.time | date_to_string: "ordinal", "ID" }}</small>
              <br>
              {{ post.excerpt }}
            </p>
          </div>
        </div>
      </article>
    </div>

  {% endfor %}

  </div>
</section>