---
layout: base
title: Home
---


<section class="hero is-fullheight bg-grad">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-header">
              <h4 class="card-header-title">Repository</h4>
            </div>
            <div class="card-image">
              <figure class="image is-4by4">
                <img src="{{ site.author.avatar }}" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h4 class="title"><a href="{{ site.github.repo }}">@GulaAren</a></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <nav class="card panel is-primary">
            <p class="panel-heading">Post</p>
            {% for post in site.posts limit:7 %}
            <div class="panel-block">
              <span class="panel-icon">
                <i class="fa fa-link" aria-hidden="true"></i>
              </span>
              <a href="{{ site.baseurl }}{{ post.url }}">
              {% if post.menutitle %}
                {{ post.menutitle }}
              {% else %}
                {{ post.title }}
              {% endif %}
              </a>
            </div>
            {% endfor %}
            <h4 class="panel-heading"><a href="{{ site.baseurl }}/blog/">Go to Blog</a></h4>
          </nav>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-header">
              <h4 class="card-header-title">Tools</h4>
            </div>
            <div class="card-content">
              <div class="content">
                <h4 class="title"><i class="fab fa-python" aria-hidden="true"></i> Python</h4>
                {% if site.py_tools %}
                {% for tool in site.py_tools %}
                  <a href="{{ tool[1] }}"><span class="tag is-link">{{ tool[0] }}</span></a>
                {% endfor %}
                {% endif %}
              </div>
              <div class="content">
                <h4 class="title">Rust</h4>
                {% if site.rs_tools %}
                {% for tool in site.rs_tools %}
                  <a href="{{ tool[1] }}"><span class="tag is-link">{{ tool[0] }}</span></a>
                {% endfor %}
                {% endif %}
              </div>
              <div class="content">
                <h4 class="title">More</h4>
                {% if site.more_tools %}
                {% for tool in site.more_tools %}
                  <a href="{{ tool[1] }}"><span class="tag is-link">{{ tool[0] }}</span></a>
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
