---
layout: default
---

<section class="hero is-primary">
  <header class="hero-body is-primary">
    <div class="container">
      <h1 class="title">
        {{ page.title }}
      </h1>
      <h2 class="subtitle">
        <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
      </h2>
      {% if page.labels %}
      <h4 class="subtitle">
        {% for label in page.labels %}
        <span class="tag is-dark">{{ label }}</span>
        {% endfor %}
      </h4>
      {% endif %}
    </div>
  </header>
</section>

<section class="section">
  <div class="container">
    <div class="content content-pad column is-three-quarters  has-background-white-ter">
      {{ content }}
    </div>
  </div>
</section>